html, body {
    margin: 0;
    padding: 0;
    font: 400 100%/1.7 Helvetica,Arial,sans-serif;
}

gd-dashboard {
    overflow: hidden;
}




article {
    background: #fafafa;
}

figure {
    background-image: url(lego_star_wars_analysis_cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #1c0d3e;
    height: 50vw;
    margin: 0;
}

header {
    margin-bottom: 5em;
}

header h1 {
    text-align: center;
    font-size: 2.6em;
    font-weight: lighter;
    margin: 1rem 0;
}

header p {
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    margin: 1rem 0;
}

header a,
header a:visited {
    color: #ed26bf;
}



footer {
    max-width: 1024px;
    margin: 0 auto;
    background-color: #F2F4F6;
}


footer a,
footer a:visited {
    color: #ed26bf;
}

footer section{
    display: flex;
}

footer .content{
    flex-grow: 1;
}

section {
    box-sizing: border-box;
    padding: 1em;
    width: 100%;
}

.dashboards {
    margin-bottom: 2em;
}

.dashboards section {
    box-shadow: none;
    border-radius: 5px;
    min-height: 400px;
    margin-top: 2em;
    background: #fff;
}

@media (min-width: 1024px) {
    figure {
        height: 470px;
    }
    section {
        width: 1024px;
        margin: 0 auto;
    }
    .dashboards section {
        box-shadow: grey 0 0 15px;
    }
}

@media (min-width: 1228px)
{

    header section,
    header section h1,
    header section p {
        width: 1228px;
    }
    header section h1 {
        font-size: 58px;
    }
}

.logo {
    flex: 0 0 92px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 1em;
}
